{% extends "layout.html" %}
{% block content %}
	<!-- this is the table that will store our recommendations -->
	<table class="table">
	  <thead class="thead-dark">
		<tr>
		  <th scope="col">Activity</th>
		  <th scope="col">Description</th>
		  <th scope="col">Cute Pic</th>
		  <th scope="col">Add to things I want to do</th>
		  <th scope="col">Add to things I've done</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <td>Bear Peak</td>
		  <td>The peak of bear</td>
		  <td><img src="../resources/img/bearPeak.jpg" class="img-fluid" alt="Bear Peak" width="80%"></td>
		  <td><button type="button" class="btn btn-dark">Add to things you want to do</button></td>
		  <td><button type="button" class="btn btn-dark">Add to things you've done</button></td>
		</tr>
		<tr>
		  <td>Flatiron Hike</td>
		  <td>Our beautiful flatirons</td>
		  <td><img src="../resources/img/flatironHike.jpg" class="img-fluid" alt="Flatiron Hike" width="80%"></td>
		  <td><button type="button" class="btn btn-dark">Add to things you want to do</button></td>
		  <td><button type="button" class="btn btn-dark">Add to things you've done</button></td>
		</tr>
		<tr>
		  <td>Horseback Riding</td>
		  <td>Riding some horses</td>
		  <td><img src="../resources/img/horsebackRiding.jpg" class="img-fluid" alt="Horses" width="80%"></td>
		  <td><button type="button" class="btn btn-dark">Add to things you want to do</button></td>
		  <td><button type="button" class="btn btn-dark">Add to things you've done</button></td>
		</tr>
	  </tbody>
	</table>


	<!-- row contains two columns that will be our two sections at bottom -->
	<div class="row">
		<!-- This column is for hikes you want to do, add hikes you've liked to it and add links from photos to that hike -->
	  <div class="column">
		<h1 style="text-align:center">Hikes You Want To Do</h1>

		<div class="row">
		  <div class="col-md-12">
			<div id="mdb-lightbox-ui"></div>
			<div class="mdb-lightbox no-margin">
				<figure class="col-md-4">
				<a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(121).jpg"
				  data-size="1600x1067">
				  <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(121).jpg"
					class="img-fluid">
				  <h3 class="text-center my-3">Photo title</h3>
				</a>
			  </figure>

			  <figure class="col-md-4">
				<a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(96).jpg"
				  data-size="1600x1067">
				  <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(96).jpg"
					class="img-fluid" />
				  <h3 class="text-center my-3">Photo title</h3>
				</a>
			  </figure>
			</div>
		</div>
		</div>
	</div>
	  <!-- This column is for hikes you've already done, after you click done this hike it's photo is added here -->
	  <div class="column">
		<h1 style="text-align:center">Hikes You've Already Done</h1>
	  </div>
	</div>
{% endblock content %}
