{% extends "layout.html" %}
{% block content %}
	<header class="text-right">
			<div class="header-img">
      			<h1> LivBoulder </h1>
    		</div>
	</header>

  <!-- About Grid Section -->
  <section class = "green-color text-white mb-0" id="about">
    <div class="container about">
      <h2 class=" text-center cream-color grid-label">About</h2>
      <div class="row">
        <div class="col-lg-10 ml-auto cream-color">
          <p class = "txt-align"> LivBoulder connects people to outdoor adventures based off of their preferences. Simply create a profile and take our activity quiz to explore all of the opportunity Boulder has to offer in the great outdoors. Wheter you are an advanced hiker, or just want to find an easy walking trail, LivBoulder has you covered.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Mission Statement Grid Section -->
  <section class="green-color">
    <div class="container mission">
      <h2 class="grid-label cream-color text-center ">Mission Statement</h2>
      <div class="row">
        <div class="col-lg-10 ml-auto cream-color ">
          <p class= "txt-align"> LivBoulder strives to inspire people to live bolder, more exciting, and more fulfilling lives by connecting them with outdoor experiences right in their own backyard.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Team Grid Section -->
  <section class = "green-color" id="team">
    <div class="container">
      <h2 class="grid-label cream-color text-center ">Meet our Team</h2>
    </div>

     <div class="card-deck">
	    <div class="card border-0">
	      <div class="card-body text-center green-color">
	      	<img class="card-img-top rounded-circle" src='../static/img/Brenda_photo.jpg' alt="Brenda image" >
	        <p class="card-text cream-color">Brenda</p>

	      </div>
	    </div>
	    <div class="card border-0">
	      <div class="card-body text-center green-color">
	      	<img class="card-img-top rounded-circle" src='../static/img/Ryan_photo.jpg' alt="Ryan image" >
	        <p class="card-text cream-color">Ryan</p>
	      </div>
	    </div>
	    <div class="card border-0">
	      <div class="card-body text-center green-color">
	        <p class="card-text cream-color">Matt</p>
	      </div>
	    </div>
	    <div class="card border-0">
	      <div class="card-body text-center green-color">

	        <p class="card-text cream-color">Travis</p>
	      </div>
	    </div>
	     <div class="card border-0">
	      <div class="card-body text-center green-color">
	        <p class="card-text cream-color">Yang</p>
	      </div>
	    </div>
	     <div class="card border-0">
	      <div class="card-body text-center green-color">
	        <p class="card-text cream-color">Grey</p>
	      </div>
	    </div>
	</div>
  </section>

  <br></br>
{% endblock content %}
